@font-face {
    font-family: 'sejong_olignt';
    src: url(../폰트/sejong_otf/Sejong\ hospital\ Light.otf);
}

@font-face {
    font-family: 'sejong_obold';
    src: url(../폰트/sejong_otf/Sejong\ hospital\ Bold.otf);
}

@font-face {
    font-family: 'sejong_tlignt';
    src: url(../폰트/sejong_ttf/Sejong\ hospital\ Light.ttf);
}

@font-face {
    font-family: 'sejong_tbold';
    src: url(../폰트/sejong_ttf/Sejong\ hospital\ Bold.ttf);
}

@font-face {
    font-family: 'dream_3';
    src: url(../폰트/S-Core_Dream_OTF/SCDream3.otf);
}

@font-face {
    font-family: 'dream_4';
    src: url(../폰트/S-Core_Dream_OTF/SCDream4.otf);
}

@font-face {
    font-family: 'dream_6';
    src: url(../폰트/S-Core_Dream_OTF/SCDream6.otf);
}

@font-face {
    font-family: 'dream_8';
    src: url(../폰트/S-Core_Dream_OTF/SCDream8.otf);
}

/* 에코드림폰트와 비슷한 ttf폰트 찾기!!!!! */

body {
    font-family: 'sejong_tlignt';
    font-size: 15px;
}

section {
    width: 100%;
    max-width: 1140px;
    margin: 10% auto;
}


/* slide */
.slide_wrap {
    height: 100vh;
}

.slide {
    width: 100%;
    height: 100vh;
    position: relative;
}

.slide .slide_s1,
.slide .slide_s2,
.slide .slide_s3 {
    position: absolute;
    top: 0;
    left: 0;
}

.slide .slide_s1 {
    width: 100%;
    height: 100%;
    background-image: url(../img/mainbanner01.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

.slide .slide_s2 {
    width: 100%;
    height: 100%;
    background-image: url(../img/mainbanner02.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slide .slide_s3 {
    width: 100%;
    height: 100%;
    background-image: url(../img/mainbanner03.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* //slide */

/* header */
header {
    width: 100%;
    height: 80px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.header_i {
    width: 100%;
    max-width: 1140px;
    height: 80px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_i nav ul {
    display: flex;
}

.header_i nav ul li {
    margin: 0 20px;
}

.header_i nav ul li:hover {
    color: #FFC72C;
    font-weight: 800;
    font-family: 'sejong_tbold';
}

.header_i nav ul li:nth-child(6),
.header_i nav ul li:nth-child(7) {
    font-size: 1rem;
}

/* //header */

/* headertitle */
.headertitle {
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    padding: 0;
}

.headertitle>.container {
    display: flex;
    flex-direction: column;
}

.headertitle>.container h2 {
    padding-bottom: 5%;
    font-weight: 900;
    font-size: 2.5vw;
    text-align: center;
    font-family: 'sejong_tbold';
}

.headertitle>.container>form {
    height: 260px;
}

.headertitle>.container>form input {
    display: block;
    padding: 0 3%;
}

.headertitle>.container>form #firstsearch {
    width: 100%;
    height: 60px;
}

.headertitle>.container>form .goto,
.headertitle>.container>form .getto {
    width: 40%;
    height: 60px;
}

.headertitle>.container>form .year {
    width: 60%;
    height: 60px;
}

.headertitle>.container>form .point {
    display: flex;
    margin: 0.8vw 0;
}

.headertitle>.container>form .arrow {
    margin: 25px 0;
    padding: 0 3%;
}

.headertitle>.container>form .date {
    display: flex;
}

.headertitle>.container>form .date .btn {
    width: 30%;
    text-align: center;
    background-color: #FFC72C;
    border-radius: 50px;
    color: #fff;
    margin-left: 5%;
}

/* //headertitle */

/* section00 */
main {
    width: 100%;
    max-width: 1140px;
    margin: 10% auto;
}

.section00 {
    width: 100%;
    max-width: 1140px;
    margin: auto;
    display: flex;
    overflow: hidden;
}

.section00 .m_title {
    text-align: center;
    flex-basis: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    padding-right: 10%;
}

.section00 .m_title>.slogan {
    font-family: 'sejong_tbold';
    color: #306AA7;
}

.section00 .m_title>p {
    margin: 50px 0;
    font-size: 1.1vw;
    line-height: 150%;
}

.section00 .m_title .title_btn {
    width: 200px;
    line-height: 50px;
    text-align: center;
    border-radius: 50px;
    font-size: 0.8vw;
    background-color: #FFC72C;
    color: #fff;

}

.section00 .slide_all {
    display: flex;
}

.section00 .slide_all .slide_box {
    width: 460px;
    height: 695px;
    margin: 40px;
    box-shadow: 10px 10px 20px 0 #ccc;
}

.section00 .slide_all .slide_box .m_box {
    width: 460px;
    height: 685px;
}

.section00 .slide_all .slide_box,
.section00 .slide_all .slide_box .m_box img {
    border-radius: 50px 50px 0 0;
}

.section00 .slide_all .slide_box h3 {
    margin: 20px 0;
    font-size: 1.2vw;
    font-weight: 900;
    padding-top: 3%;
    padding-left: 3%;
}

.section00 .slide_all .slide_box p {
    padding-top: 2%;
    padding-left: 3%;
    padding-right: 3%;
    line-height: 150%;
}

.section00 .slide_all .slide_box .m_price {
    font-weight: 700;
    color: #306AA7;
    text-align: right;
    padding-right: 3%;
}

/* //section00 */

/* section01 */
/* .section1{
    width: 100%;
    max-width: 1140px;
    margin: auto;
} */
.section1 .section1_title {
    text-align: center;
    font-family: 'sejong_tbold';
    font-size: 2vw;
}

.section1 .container {
    margin: 10% auto;
}

.section1 .container .title {
    font-size: 1vw;
    font-weight: 700;
    width: 100%;
    height: 100%;
    position: relative;
}

/* .section1 .container .title .r_img{
    border-radius: 50px;
} */
.section1 .container .title span {
    width: 350px;
    height: 350px;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(0, 0, 0, 0) rgba(0, 0, 0, 0.7));
}

.section1 .container .title h4 {
    margin: 3% 0;
    padding: 3%;
    font-size: 1.5vw;
}

.section1 .container .title p {
    padding: 3%;
    font-size: 0.8vw;
}

.section1 .btn {
    width: 20%;
    line-height: 50px;
    background-color: #FFC72C;
    font-weight: 600;
    font-size: 1vw;
    margin: 50px auto;
    color: #fff;
    border-radius: 50px;
}

.section1 .btn>a {
    display: block;
}

/* //section01 */

#banner {
    width: 100%;
    height: 350px;
    margin-bottom: 200px;
}

.b_allslide {
    width: 100%;
    height: 350px;
    display: flex;
    overflow: hidden;
}

.b_slide {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.b_allslide .b1 {
    width: 100%;
    height: 350px;
    position: absolute;
    background-image: url(../img/banner01.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 50;
}

.b_allslide .b2 {
    width: 100%;
    height: 350px;
    position: absolute;
    background-image: url(../img/banner2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}

.b_allslide .b1>.b_text,
.b_allslide .b2>.b_text {
    line-height: 180%;
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    padding: 40px;
    padding-left: 150px;
}

/* section03 */
.section3 {
    width: 100%;
    max-width: 1140px;
    margin: auto;
    overflow: hidden;
}

.section3 .section3_title {
    font-weight: 600;
    font-size: 2vw;
    margin: 8%;
    text-align: center;
}

.section3>.container {
    display: flex;
}

.section3 .review_img figure {
    width: 454px;
    height: 454px;
}

.section3 .review_text {
    padding: 5%;
}

.section3 .review_text .best {
    text-align: center;
    font-family: 'sejong_tbold';
    margin-bottom: 10%;
    font-size: 1.8vw;
}

.section3 .review_text .review_title {
    line-height: 180%;
    font-size: 16px;
}

.section3 .review_text .review_title>strong {
    font-family: 'sejong_tbold';
    line-height: 30px;
    font-size: 18px;
}


.section3>.btn {
    width: 200px;
    line-height: 50px;
    background-color: #FFC72C;
    font-weight: 600;
    color: #fff;
    border-radius: 50px;
    margin: 0 5%;
    float: right;

}

/* //section03 */

/* section04 */

.section4 {
    width: 100%;
    max-width: 1140px;
    margin: 10% auto;
}

.section4 .month_title {
    height: 80px;
    font-size: 1.5vw;
    font-family: 'sejong_tbold';
    margin-bottom: 5%;
    text-align: center;
}

.section4 .month_btn {
    display: flex;
    justify-content: space-between;
}

.section4 .month_btn>button {
    width: 75px;
    height: 75px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
    display: block;
    border-radius: 100%;
    border: 1px solid;
    background-color: #fff;
}

.section4 .month {
    height: 600px;
    margin: 5% 0;
    position: relative;
    overflow: hidden;
}

.section4 .month .month_img {
    position: absolute;
}

.section4 .month .month_img:nth-child(1) {
    z-index: 12;
}

.section4 .btn {
    width: 100%;
    max-width: 500px;
    line-height: 50px;
    margin: auto;
    background-color: #FFC72C;
    font-weight: 600;
    color: #fff;
    border-radius: 50px;
    text-align: center;
}

.section4 .btn>.month_btn {
    font-weight: 600;
    color: #fff;
    padding: 5px;
}

.section4 .month_btn>button:hover {
    background-color: #306AA7;
    color: #FFC72C;
    border: none;
    font-weight: 700;
}

/* //section04 */

/* section05 */

.section5 .fit {
    text-align: center;
    font-size: 2vw;
    font-weight: 800;
    margin-bottom: 5%;
}

.section5 .fit_box {
    width: 267px;
    height: 287px;
    border-radius: 20px;
    color: #fff;
    background-color: #AB8930;
    padding: 30px;
    line-height: 150%;
    font-size: 18px;
    position: relative;
}

.section5 .box:nth-child(2) .fit_box {
    background-color: #2C5290;
}

.section5 .box:nth-child(3) .fit_box {
    background-color: #F36C4F;
}

.section5 .box:nth-child(4) .fit_box {
    background-color: #2E5BAC;
}

.section5 .fit_box h5 {
    font-weight: 700;
    font-size: 20px;
    padding-bottom: 30px;
}

.section5 .box .fit_img {
    position: absolute;
    bottom: 10%;
    right: 5%;
    z-index: 10;
}

/* //section05 */

/*  section06 */
.sns>h3 {
    font-size: 2vw;
    font-weight: 800;
    margin-bottom: 50px;
}

.sns .sns_icon {
    width: 100px;
    height: 100px;
    margin: auto;
}

.sns .sns_icon>figure {
    width: 75px;
    height: 75px;
    margin: auto;
}

.sns .sns_icon .sns_text {
    margin: 20px 0;
    text-align: center;
}

/* //section06 */

/* notice */
.notice {
    margin-bottom: 10%;
}

.c_notice {
    line-height: 180%;
}

.c_notice .notice_title {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.c_notice .notice_title .call_notice {
    width: 50%;
    text-align: center;
}

.c_notice .call_notice .text_call {
    width: 100%;
    font-size: 18px;
    font-family: 'sejong_tbold';
}

.c_notice .notice_title .call_notice .call_number {
    margin: 15px 0;
}

.c_notice .notice_btn .call_btn {
    width: 110px;
    line-height: 30px;
    padding: 0 10px;
    display: block;
    background-color: #808080;
    color: #fff;
    font-size: 10px;
    border-radius: 50px;
    float: right;
    margin-right: 80px;
}

.c_notice .call_time>p {
    padding-left: 0;
    font-weight: 800;
    margin-bottom: 5px;
}

.c_notice .time_number>li {
    list-style: circle;
}


/* //notice */

/* footer */
footer {
    width: 100%;
    height: 600px;
    overflow: hidden;
    background-image: url(../img/foot_bg.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.footer_i {
    width: 100%;
    max-width: 1140px;
    height: 300px;
    margin: 200px auto;
}

.footer_i .question {
    display: flex;
    justify-content: space-between;
}

.footer_i .f_text>ul {
    display: flex;
}

.footer_i .f_text>ul>li {
    margin: 0 5px;
    text-align: center;
}

.footer_i .f_text>ul>li:not(:last-child)::after {
    width: 1px;
    height: 10px;
    margin-left: 5px;
    content: '';
    display: inline-block;
    background-color: #808080;
}

.footer_i .address {
    line-height: 30px;
    margin: 20px 0;
    display: flex;
}

.footer_i .address .address_c {
    width: 100px;
    line-height: 30px;
    margin-left: 30px;
    background-color: #808080;
    font-size: 10px;
    border-radius: 50px;
    color: #fff;
    text-align: center;
}

.footer_i .footright>a {
    width: fit-content;
    padding: 10px;
    height: 30px;
    background-color: #111111;
    color: #fff;
    margin: 0 10px;
    border-radius: 50px;
    cursor: pointer;
}

.footer_i .foot_img {
    width: 950px;
    margin: 30px auto;
}

.footer_i .foot_notice {
    margin-bottom: 20%;
}

.footer_i .foot_notice .f_noti>li {
    list-style: circle;
    line-height: 150%;
}

.footer_i .foot_logo {
    margin-top: 20px;
    float: right;
}

/* //footer */

/* top */
#top {
    position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: 99;
}

#top .t_box {
    width: 80px;
    height: 80px;
    font-size: 0.8rem;
    text-align: center;
    border-radius: 100px;
    background-color: #FFC72C;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    font-weight: 700;
}

#top .t_box:first-child {
    background-color: #000000;
    color: #fff;
}

/* //top */

/* media 1200px 이하 */
@media screen and (max-width:1200px) {
    .headertitle {
        width: 100%;
        max-width: 960px;
        overflow: hidden;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
        padding: 0;
    }

    .b_allslide .b1>.b_text,
    .b_allslide .b2>.b_text{
        padding: 40px;
        font-size: 20px;
    }
}

/* //media 1200px 이하 */